* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: Times New Roman;
    font-size: 16px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.outerbox {
    margin: 100px auto 0;
    width: 500px;
    height: 300px;
    border-radius: 5%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation-bg {
    background: linear-gradient(
        -45deg,
        #ee7752,
        orange,
        #e73c7e,
        #23a6d5,
        #00ffff,
        #23d5ab
    );
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.innerbox {
    width: 470px;
    height: 270px;
    border-radius: 5%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.laps {
    /* height: 300px; */
    overflow: auto;
    list-style: none;
    color: white;
    position: relative;
    /* padding:25px 0; */
    width: 500px;
    margin-top: 30px;
}

.laps::-webkit-scrollbar {
    display: none;
}

.text {
    color: white;
    font-size: 80px;
}

#minutes {
    font-size: 110px;
}

#seconds {
    font-size: 110px;
    /* font-size: 90px; */
}

#centiseconds {
    font-size: 110px;
    /* font-size: 70px; */
}

.button-wrapper {
    width: 500px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 100px;
    height: 60px;
    border-radius: 10%;
    border: 5px solid white;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 25px;
}

.button:hover {
    background-color: white;
    color: black;
}

.numberoflaps {
    color: #cccccc;
    font-size: 20px;
}

.time-stamp {
    display: inline-block;
    margin-left: 25px;
    font-size: 20px;
}

.lap-item {
    margin: 10px auto;
    width: 600px;
    padding: 10px;
    text-align: center;
    border: 2px solid #444;
    border-radius: 10px;
}

#lap-clear-button {
    z-index: 1000;
    display: block;
    margin: 20px auto;
    width: 180px;
    font-size: 25px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 5px solid white;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

.colon {
    font-size: 60px;
}

.time-element {
    display: flex;
    flex-direction: column;
}

.time-text {
    text-align: center;
}
